li {
    text-align: center;
}

section {
    text-align: center;
    
}

.about {
    text-align: center;

}

.portfolio {
    text-align: center;
    text-decoration: underline;
}

.contact {
    text-align: center;
text-decoration: underline;
}

@media screen and (max-width: 992px) {}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 576px) {}